/* Reset básico e estilos gerais */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

/* Cabeçalho */
body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    color: black;
    display: flex; /* Usa flexbox para o layout geral da página */
    flex-direction: column; /*Organiza os elementos em coluna */
    min-height: 100vh; /* Garante que o body ocupe toda a altura da viewport */
}

/*Estilos do cabeçalho*/
header {
    background-color: rgba(209, 141, 90, 0.845);
    padding: 1rem;
    display: flex; /* Usa flexbox para o layout do cabeçalho*/
    justify-content: flex-start; /* Distribui os elementos horizontalmente */
    align-items: center; /* Alinha os elementos do nav verticalmente */
}

/* Estilos do logotipo */
.Logo img {
    /* Altura fixa para o logotipo */
    height: 100px;
    border-radius: 50%;

}

/* Nome do site */
.Nome {
    color: white;
    padding-left: 20px;
}

nav {
    padding-left: 40%;
}


nav ul {
    list-style: none;
    display: flex; /* Usa flexbox para os itens de navegação */
    margin-right: 2rem; /* Afasta os menus da extremidade direita da página */
}

nav ul li {
    /* Espaçamento entre os itens do nav*/
    margin-left: 1rem;

}

/* Cabeçalho */
nav ul li a {

    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
}
    
nav ul li a:hover {

    background-color: white;
    color: rgb(222, 144, 26);
    border-radius: 4px;
}
    
/* Estilos do conteúdo principal */
main {
    flex: 1; /*Permite que o conteúdo principal cresça e ocupe o espaço disponivel */
    width: 80%;
    margin: 20px auto;
    display: flex; /* Usa flexbox para o layout do conteúdo principal*/
    flex-wrap: wrap; /* Permite que os elementos quebrem para a próxima linha */
}
    
/* seção adicional */
section {
    flex: 0 100%; /* Ocupa toda a largura */
    background-color: #CE8550;
    padding: 1rem;
    margin-top: 1rem;
}

.Equipe {
    display: flex;
    justify-content: space-between;
    
}

.YasminOda img {
    height: 50px;
    border-radius: 50%;
}

.Ste img {
    height: 50px;
    border-radius: 50%;
}

.Mimi img {
    height: 50px;
    border-radius: 50%;
}

.Munin img {
    height: 50px;
    border-radius: 50%;
}

.Duda img {
    height: 50px;
    border-radius: 50%;
}
    
/* Estilos do rodapé */
footer {
    background-color:#331411;
    color: #fff;
    text-align: center;
    padding: 1rem;
    
}
